/***********************

Variables

***********************/
/***********************

Mixins

***********************/
/***********************

General

***********************/
.container {
  padding-top: 50px;
  padding-bottom: 50px; }

.blog-container {
  padding-top: 0;
  padding-bottom: 0;
  position: relative; }

.blog-body {
  background-color: #674941; }

.fa {
  padding-left: 2%;
  padding-right: 2%; }

/***********************

Typography

***********************/
body {
  font: 150% "Raleway", sans-serif;
  background-color: #fffef7;
  color: #674941;
  -webkit-font-smoothing: antialiased; }

h1,
nav {
  font-family: "Lobster", cursive;
  text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1em;
  color: #674941;
  text-shadow: 3px 0px 17px #fffef7; }
  h1 a,
  nav a {
    color: #fffef7;
    letter-spacing: 3px;
    text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5); }

h4 {
  margin-top: 20px; }

p.excerpt {
  font-size: 125%; }

.logo {
  font: 300% "Lobster", cursive;
  text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.5em;
  color: #BEA586;
  text-shadow: 2px 0px 8px #fffef7;
  color: #674941 !important;
  word-spacing: .25em;
  vertical-align: middle; }

.logo-blog {
  font: 245% "Raleway", sans-serif;
  letter-spacing: .5em;
  color: #fffef7;
  word-spacing: .25em;
  vertical-align: middle;
  text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px; }

.intro-header {
  text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1em;
  color: #fffef7; }

/***********************

Jumbotron

***********************/
.jumbo-home {
  background-color: #674941;
  color: #fffef7;
  background: url("../../images/40wattsun.jpg") no-repeat;
  background-size: cover;
  height: 800px;
  padding: 0;
  margin: 0; }

.jumbo-overlay {
  display: block;
  background-color: rgba(103, 73, 65, 0.6);
  height: 100%; }
  .jumbo-overlay a {
    color: #fffef7; }

.jumbo-radio {
  height: 400px; }

.jumbo-blog {
  height: 50px; }

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
  color: #BEA586; }

/***********************

Coffee Section

***********************/
.feature-section {
  min-height: 500px; }
  .feature-section a {
    color: #674941; }

.coffee-section {
  background: url("../../images/coffee.jpg");
  background-size: cover;
  background-position: center;
  color: #fffef7; }

.coffee-overlay {
  display: block;
  background-color: rgba(103, 73, 65, 0.95);
  height: 100%; }
  .coffee-overlay a {
    color: #fffef7; }

.coffee-header {
  text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1em;
  color: #fffef7; }

.cream-header {
  text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1em;
  color: #674941; }

.c-archive-btn {
  text-shadow: 1px 1px 3px #666666;
  font-family: "Lobster", cursive;
  color: #fffef7;
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  border: solid #fffef7 3px;
  text-decoration: none;
  background: none;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.3s; }

.c-archive-btn:hover {
  background-color: rgba(255, 254, 247, 0.5);
  color: #674941;
  text-decoration: none;
  transform: scale(1.05, 1.05);
  border: solid #fffef7 3px; }

/***********************

Cream Section

***********************/
.sotw-section {
  background-image: url("../../images/Vinyl_Days.jpg");
  background-size: cover; }

.sotw-overlay {
  background-color: rgba(255, 254, 247, 0.95); }
  .sotw-overlay a {
    color: #674941; }

.yt-section {
  background-image: url("../../images/coffee2.jpg");
  background-size: contain;
  color: #fffef7; }

.yt-overlay {
  background-color: rgba(103, 73, 65, 0.95); }

.yt-header {
  text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1em;
  color: #fffef7; }

.playlist-archive {
  max-height: 120px;
  overflow: scroll;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7; }

.playlist-main {
  max-height: 200px; }

iframe {
  vertical-align: bottom; }

.archive-btn {
  text-shadow: 1px 1px 3px #666666;
  font-family: "Lobster", cursive;
  color: #674941;
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  border: solid #674941 3px;
  text-decoration: none;
  background: none;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.3s; }

.archive-btn:hover {
  color: #fffef7;
  background-color: rgba(103, 73, 65, 0.5);
  text-decoration: none;
  border: solid #674941 3px;
  transform: scale(1.05, 1.05); }

/***********************

Search

***********************/
.listing-section {
  margin-bottom: 30px; }

.hl {
  background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), yellow 85%, rgba(255, 255, 255, 0)); }

/***********************

Blog

***********************/
.blog-page {
  background-size: contain;
  color: #674941; }

.blog-preview {
  margin-bottom: 50px; }

.blog-thumbnail {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  background: #333333;
  height: 200px;
  width: 290px; }
  .blog-thumbnail h4,
  .blog-thumbnail p {
    margin-left: 10px;
    font-weight: 800;
    text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5); }

.blog-post {
  background-color: #fffef7;
  border-radius: 0 0 5px 5px;
  padding: 0 100px 100px 100px;
  font-size: 170%;
  color: #674941; }

.blog-carousel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 40px; }

.blog-image {
  height: 400px;
  background-image: url("../../images/Soen.jpg");
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.blog-content {
  padding: 70px 120px;
  min-height: 400px;
  background-color: #FFFFFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .blog-content h1 {
    font-size: 300%;
    margin-top: 0; }
  .blog-content .date-category {
    color: #BEA586;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 40px; }
  .blog-content p {
    font-size: 125%;
    padding-bottom: 20px;
    line-height: 200%; }
  .blog-content .blog-share {
    color: #BEA586;
    text-transform: lowercase;
    font-size: 100%;
    padding-bottom: 0;
    line-height: 100%; }
  .blog-content .blog-share-flex {
    display: flex;
    justify-content: center; }
  .blog-content #post-nav {
    display: flex; }
    .blog-content #post-nav .post-previous .title,
    .blog-content #post-nav .post-next .title {
      display: block;
      text-transform: uppercase;
      font-size: 75%; }
    .blog-content #post-nav .post-previous {
      margin-right: 20%; }
    .blog-content #post-nav .post-next {
      text-align: right;
      margin-left: 20%; }
    .blog-content #post-nav h3 {
      margin-top: 5px; }
      .blog-content #post-nav h3 a {
        color: #674941;
        text-shadow: none;
        font-size: 70%; }

.blog-thumbnail-1 {
  background-image: url("../../images/code_orange_forever.jpg");
  background-size: cover;
  color: #fffef7; }

.blog-thumbnail-2 {
  background-image: url("../../images/Oceans_of_Slumber_Winter.jpg");
  background-size: cover;
  color: #fffef7; }

.blog-thumbnail-3 {
  background-image: url("../../images/pain_of_salvation_scarsick.jpg");
  background-size: cover;
  color: #fffef7; }

.blog-thumbnail-4 {
  background-image: url("../../images/Vinyl_Days.jpg");
  background-size: cover;
  color: #fffef7; }

#main-wrapper .before {
  /* background-color: #ffffff; */ }

.blog-sidebar {
  bottom: 0;
  background: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  height: inherit !important;
  right: 76%;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.03), 0 1px 5px rgba(0, 0, 0, 0.1); }

.blog-sidebar:after {
  float: right;
  width: 3px;
  height: 100%;
  content: '';
  border-right: 1px solid #fff;
  position: relative;
  left: 3px; }

.blog-sidebar-content {
  margin-top: 50px;
  position: fixed; }

.category-list {
  text-transform: uppercase;
  line-height: 300%; }

/***********************

Youtube Video Ordering

***********************/
/***********************

About Me Contact Card

***********************/
.contact-card {
  border: 1px solid #BEA586;
  border-radius: 5px;
  margin-top: 88px;
  padding: 22px 0;
  text-align: center; }
  .contact-card ul {
    list-style-type: none; }

/***********************

Footer

***********************/
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee; }

.footer-coffee {
  color: #fffef7; }

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 10px 40px 10px; }
  .flex-container a {
    color: #674941; }

.flex-container-coffee a {
  color: #fffef7; }

.social-icons {
  position: relative; }

/***********************

Navigation Bar

***********************/
.nav-justified {
  padding-bottom: 70px;
  background: -moz-linear-gradient(top, #674941 0%, rgba(103, 73, 65, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #674941 0%, rgba(103, 73, 65, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #674941 0%, rgba(103, 73, 65, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .nav-justified copy li a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    font-size: 110%; }
  .nav-justified .active a {
    background-color: transparent;
    color: #BEA586; }

/***********************

Media Queries

***********************/
@media (min-width: 1200px) {
  .container {
    width: 1190px; } }
@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px; }

  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px; }

  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0; }

  .logo-home {
    margin-top: 25%; }

  .search-box {
    width: 200px; } }

/*# sourceMappingURL=main.css.map */
