/***********************

Variables

***********************/
/***********************

Mixins

***********************/
/***********************

General

***********************/
.container {
  padding-top: 50px;
  padding-bottom: 50px; }

.blog-container {
  padding-top: 0;
  padding-bottom: 0;
  position: relative; }

.blog-body {
  background-color: #674941; }

.fa {
  padding-left: 2%;
  padding-right: 2%; }

/***********************

Typography

***********************/
body {
  font: 150% "Raleway", sans-serif;
  background-color: #fffef7;
  color: #674941;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-family: "Lobster", cursive;
  text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1em;
  color: #674941;
  text-shadow: 3px 0px 17px #fffef7; }

h4 {
  margin-top: 20px; }

nav {
  font-weight: 600; }
  nav a {
    color: #fffef7;
    letter-spacing: 3px;
    text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5); }

h3#blog-feature {
  font-family: "Lobster", cursive;
  word-spacing: .5em;
  letter-spacing: .1em;
  margin-bottom: 40px;
  margin-top: 5px; }

.excerpt {
  font-size: 125%;
  line-height: 180%; }

.logo {
  font: 300% "Lobster", cursive;
  text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.5em;
  color: #BEA586;
  color: #cc0000 !important;
  word-spacing: .25em;
  vertical-align: middle; }

.logo-blog {
  font: 245% "Raleway", sans-serif;
  letter-spacing: .5em;
  color: #fffef7;
  word-spacing: .25em;
  vertical-align: middle;
  text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px; }

.intro-header {
  text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1em;
  color: #fffef7; }

/***********************

Jumbotron

***********************/
.jumbo-home {
  background-color: #674941;
  color: #fffef7;
  background: url("../../images/homepage.jpg") no-repeat;
  background-size: cover;
  height: 800px;
  padding: 0;
  margin: 0; }

.jumbo-overlay {
  display: block;
  background-color: rgba(103, 73, 65, 0.6);
  height: 100%; }
  .jumbo-overlay a {
    color: #fffef7; }

.jumbo-radio {
  height: 400px; }

.jumbo-blog {
  height: 50px; }

.nav li a {
  transition: all 0.5s; }
  .nav li a:hover, .nav li a:focus {
    background-color: transparent;
    color: #BEA586; }

/***********************

Coffee Section

***********************/
.feature-section {
  min-height: 710px; }
  .feature-section a {
    color: #674941; }

.coffee-section {
  color: #fffef7;
  background-color: #674941; }

.coffee-section.shows-section {
  background: url("../../images/coffee.jpg");
  background-size: cover;
  background-position: center; }

.coffee-overlay {
  display: block;
  background-color: rgba(103, 73, 65, 0.95);
  height: 100%; }
  .coffee-overlay a {
    color: #fffef7; }

.coffee-header {
  text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1em;
  color: #fffef7;
  margin-bottom: 40px; }

.cream-header {
  text-shadow: 3px 6px 2px rgba(178, 169, 169, 0.5);
  letter-spacing: 0.1em;
  color: #674941;
  margin-bottom: 40px; }

a.c-archive-btn {
  text-shadow: 1px 1px 3px #666666;
  font-family: "Lobster", cursive;
  color: #fffef7;
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  border: solid #fffef7 3px;
  text-decoration: none;
  background: none;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.3s; }

a.c-archive-btn:hover {
  background-color: rgba(255, 254, 247, 0.5);
  color: #674941;
  text-decoration: none;
  border: solid #fffef7 3px; }

/***********************

Cream Section

***********************/
.sotw-section {
  background-image: url("../../images/Vinyl_Days.jpg");
  background-size: cover; }

.sotw-overlay {
  background-color: rgba(255, 254, 247, 0.95); }
  .sotw-overlay a {
    color: #674941; }

.yt-section {
  background-image: url("../../images/coffee2.jpg");
  background-size: contain;
  color: #fffef7; }

.yt-overlay {
  background-color: rgba(103, 73, 65, 0.95); }

.yt-header {
  text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1em;
  color: #fffef7; }

.playlist-archive {
  max-height: 120px;
  overflow: scroll;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7; }

.playlist-main {
  max-height: 200px; }

iframe {
  vertical-align: bottom; }

.archive-btn {
  text-shadow: 1px 1px 3px #666666;
  font-family: "Lobster", cursive;
  color: #674941;
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  border: solid #674941 3px;
  text-decoration: none;
  background: none;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.3s; }

.archive-btn:hover {
  color: #fffef7;
  background-color: rgba(103, 73, 65, 0.5);
  text-decoration: none;
  border: solid #674941 3px; }

#blog-header-feature {
  margin-bottom: 40px; }

/***********************

Search

***********************/
.listing-section {
  margin-bottom: 30px; }

.hl {
  background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), yellow 85%, rgba(255, 255, 255, 0)); }

/***********************

Blog

***********************/
.blog-page {
  background-size: contain;
  color: #674941; }

.blog-preview {
  margin-bottom: 50px; }

.blog-thumbnail {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  background: #333333;
  height: 200px;
  width: 290px; }
  .blog-thumbnail h4,
  .blog-thumbnail p {
    margin-left: 10px;
    font-weight: 800;
    text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5); }

.blog-post {
  background-color: #fffef7;
  border-radius: 0 0 5px 5px;
  padding: 0 100px 100px 100px;
  font-size: 170%;
  color: #674941; }

.blog-carousel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 40px; }

.blog-image {
  height: 400px;
  background-image: url("../../images/Soen.jpg");
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.blog-content {
  padding: 70px 120px;
  min-height: 400px;
  background-color: #FFFFFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .blog-content h1 {
    font-size: 300%;
    margin-top: 0; }
  .blog-content p {
    font-size: 125%;
    padding-bottom: 20px;
    line-height: 200%; }
  .blog-content .blog-share {
    color: #BEA586;
    text-transform: lowercase;
    font-size: 100%;
    padding-bottom: 0;
    line-height: 100%; }
  .blog-content .blog-share-flex {
    display: flex;
    justify-content: center; }
  .blog-content #post-nav {
    display: flex; }
    .blog-content #post-nav .post-previous .title,
    .blog-content #post-nav .post-next .title {
      display: block;
      text-transform: uppercase;
      font-size: 75%; }
    .blog-content #post-nav .post-previous {
      margin-right: 20%; }
    .blog-content #post-nav .post-next {
      text-align: right;
      margin-left: 20%; }
    .blog-content #post-nav h3 {
      margin-top: 5px; }
      .blog-content #post-nav h3 a {
        color: #674941;
        text-shadow: none;
        font-size: 70%; }
  .blog-content .read-more-link {
    text-align: center; }
  .blog-content h3 {
    font-size: 135%;
    color: #BEA586;
    text-transform: lowercase;
    margin-bottom: 45px; }

.date-category {
  color: #BEA586;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 40px; }

.blog-thumbnail-1 {
  background-image: url("../../images/code_orange_forever.jpg");
  background-size: cover;
  color: #fffef7; }

.blog-thumbnail-2 {
  background-image: url("../../images/Oceans_of_Slumber_Winter.jpg");
  background-size: cover;
  color: #fffef7; }

.blog-thumbnail-3 {
  background-image: url("../../images/pain_of_salvation_scarsick.jpg");
  background-size: cover;
  color: #fffef7; }

.blog-thumbnail-4 {
  background-image: url("../../images/Vinyl_Days.jpg");
  background-size: cover;
  color: #fffef7; }

.mc-thumbnail img {
  max-width: 100%; }

.related-posts h4.date-category {
  font-size: 90%; }
.related-posts a {
  color: inherit; }

.blog-sidebar {
  bottom: 0;
  background: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  height: inherit !important;
  right: 76%;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.03), 0 1px 5px rgba(0, 0, 0, 0.1); }

.blog-sidebar:after {
  float: right;
  width: 3px;
  height: 100%;
  content: '';
  border-right: 1px solid #fff;
  position: relative;
  left: 3px; }

.blog-sidebar-content {
  margin-top: 50px;
  position: fixed; }

.category-list {
  text-transform: uppercase;
  line-height: 300%; }

/***********************

Song of the Week

***********************/
h1#sotw-logo {
  font-size: 380%; }

h2.sotw-header {
  margin-bottom: 20px;
  color: #BEA586; }

.sotw-archive {
  font-size: 130%;
  line-height: 180%;
  max-height: 380px;
  overflow: scroll;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7; }
  .sotw-archive span {
    display: inline-block;
    padding-right: 2px;
    font-size: 110%;
    font-weight: 800; }

p.sotw-date {
  margin-top: 30px; }

/***********************

Youtube Timeline

***********************/
.cd-horizontal-timeline.loaded {
  opacity: 1; }

.cd-horizontal-timeline {
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.cd-horizontal-timeline .timeline {
  position: relative;
  height: 350px;
  margin: 0 auto; }

.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden; }

.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px; }

.cd-horizontal-timeline .filling-line {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

.cd-horizontal-timeline .events {
  width: 3600px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 318px;
  height: 2px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s; }

.cd-timeline-navigation a.inactive {
  cursor: not-allowed; }

.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }

.cd-timeline-navigation a.next {
  right: 0; }

.cd-timeline-navigation a {
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s; }

.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px; }

.cd-timeline-navigation a::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../../images/cd-arrow.svg) no-repeat 0 0; }

iframe#vid1 {
  left: 80px; }

iframe#vid2 {
  left: 800px; }

iframe#vid3 {
  left: 1520px; }

iframe#vid4 {
  left: 2240px; }

iframe#vid5 {
  left: 2960px; }

.cd-horizontal-timeline ol, ul {
  list-style: none; }

.cd-horizontal-timeline .events a.selected {
  pointer-events: none; }

.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: #383838;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.cd-horizontal-timeline .events iframe {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  text-align: center;
  padding-bottom: 15px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.cd-horizontal-timeline .events a::after {
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s; }

/***********************

About Me Contact Card

***********************/
.contact-card {
  border: 1px solid #BEA586;
  border-radius: 5px;
  margin-top: 88px;
  padding: 22px 0;
  text-align: center; }
  .contact-card ul {
    list-style-type: none; }

/***********************

Footer

***********************/
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee; }

.footer-coffee {
  color: #fffef7; }

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 10px 40px 10px; }
  .flex-container a {
    color: #674941; }
  .flex-container i {
    transition: all 0.2s; }
    .flex-container i:hover {
      transform: scale(1.1, 1.1); }

.flex-container-coffee a {
  color: #fffef7; }

.social-icons {
  position: relative; }

/***********************

Navigation Bar

***********************/
.nav-justified {
  padding-bottom: 70px; }
  .nav-justified copy li a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    font-size: 110%; }
  .nav-justified .active a {
    background-color: transparent;
    color: red; }

/***********************

Media Queries

***********************/
@media (min-width: 1200px) {
  .container {
    width: 1190px; } }
@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px; }

  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px; }

  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0; }

  .logo-home {
    margin-top: 25%; }

  .search-box {
    width: 200px; } }

/*# sourceMappingURL=main.css.map */
