/***********************

Variables

***********************/

$font-main: 'Lobster',
cursive;
$header-font: 'Metal Mania',
cursive;
$body-font: 'Raleway',
sans-serif;
$coffee: #674941;
$cream: #fffef7;
$coffee-light: #BEA586;
$coffee-cream: #A2825C;

/***********************

Mixins

***********************/

@mixin drop-shade ($spacing, $color) {
    text-shadow: 3px 6px 2px rgba(0, 0, 0, .5);
    letter-spacing: $spacing;
    color: $color;
}


/***********************

General

***********************/

.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.blog-container {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

.blog-body {
    background-color: $coffee;
}

.fa {
    padding-left: 2%;
    padding-right: 2%;
}


/***********************

Typography

***********************/

body {
    font: 150% $body-font;
    background-color: $cream;
    color: $coffee;
    -webkit-font-smoothing: antialiased;
}

h1,
nav {
    font-family: $font-main;
    @include drop-shade(.1em, $coffee);
    text-shadow: 3px 0px 17px rgba(255, 254, 247, 1);
    a {
        color: $cream;
        letter-spacing: 3px;
        text-shadow: 3px 6px 2px rgba(0, 0, 0, .5);
    }
}

h4 {
    margin-top: 20px;
}

p.excerpt {
    font-size: 125%;
}

.logo {
    font: 300% $font-main;
    @include drop-shade(.5em, $coffee-light);
    text-shadow: 2px 0px 8px rgba(255, 254, 247, 1);
    color: $coffee !important;
    word-spacing: .25em;
    vertical-align: middle;
}

.logo-blog {
    font: 245% $body-font;
    letter-spacing: .5em;
    color: $cream;
    word-spacing: .25em;
    vertical-align: middle;
    text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

.intro-header {
    @include drop-shade(.1em, $cream);
}


/***********************

Jumbotron

***********************/

.jumbo-home {
    background-color: $coffee;
    color: $cream;
    background: url('../../images/40wattsun.jpg') no-repeat;
    background-size: cover;
    height: 800px;
    padding: 0;
    margin: 0;
    //    font-smoothing;
}

.jumbo-overlay {
    display: block;
    background-color: rgba(103, 73, 65, .6);
    height: 100%;
    a {
        color: $cream;
    }
}

.jumbo-radio {
    height: 400px;
}

.jumbo-blog {
    height: 50px;
}


.nav {
    li {
        a {
            transition: all 0.5s;
            &:hover, &:focus {
                background-color: rgba(0, 0, 0, 0);
                color: $coffee-light;
            } 
        }
    }
}


/***********************

Coffee Section

***********************/

.feature-section {
    min-height: 500px;
    a {
        color: $coffee;
    }
}

.coffee-section {
    background: url('../../images/coffee.jpg');
    background-size: cover;
    background-position: center;
    color: $cream;
}

.coffee-overlay {
    display: block;
    background-color: rgba(103, 73, 65, .95);
    height: 100%;
    a {
        color: $cream;
    }
}

.coffee-header {
    @include drop-shade(.1em,
    $cream);
}

.cream-header {
    text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.3);
    letter-spacing: 0.1em;
    color: $coffee;
}

.c-archive-btn {
    text-shadow: 1px 1px 3px #666666;
    font-family: $font-main;
    color: $cream;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    border: solid $cream 3px;
    text-decoration: none;
    background: none;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.3s;
}

.c-archive-btn:hover {
    background-color: rgba(255, 254, 247, .5);
    color: $coffee;
    text-decoration: none;
//    transform: scale(1.05, 1.05);
    border: solid $cream 3px;
}


/***********************

Cream Section

***********************/

.sotw-section {
    background-image: url('../../images/Vinyl_Days.jpg');
    background-size: cover;
}

.sotw-overlay {
    background-color: rgba(255, 254, 247, .95);
    a {
        color: $coffee;
    }
}

.yt-section {
    background-image: url('../../images/coffee2.jpg');
    background-size: contain;
    color: $cream;
}

.yt-overlay {
    background-color: rgba(103, 73, 65, .95);
}

.yt-header {
    @include drop-shade(.1em,
    $cream);
}

.playlist-archive {
    max-height: 120px;
    overflow: scroll;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}

.playlist-main {
    max-height: 200px;
}

iframe {
    vertical-align: bottom;
}

.archive-btn {
    text-shadow: 1px 1px 3px #666666;
    font-family: $font-main;
    color: $coffee;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    border: solid $coffee 3px;
    text-decoration: none;
    background: none;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.3s;
}

.archive-btn:hover {
    color: $cream;
    background-color: rgba(103, 73, 65, .5);
    text-decoration: none;
    border: solid $coffee 3px;
//    transform: scale(1.05, 1.05);

}



/***********************

Search

***********************/

.listing-section {
    margin-bottom: 30px;
}

.hl {
    background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), yellow 85%, rgba(255, 255, 255, 0));
}


/***********************

Blog

***********************/

.blog-page {
    background-size: contain;
    color: $coffee;
}

.blog-preview {
    margin-bottom: 50px;
}

.blog-thumbnail {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    background: #333333;
    height: 200px;
    width: 290px;
    h4,
    p {
        margin-left: 10px;
        font-weight: 800;
        text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.5);
    }
}

.blog-post {
    background-color: $cream;
    border-radius: 0 0 5px 5px;
    padding: 0 100px 100px 100px;
    font-size: 170%;
    color: $coffee;
}

.blog-carousel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 40px;
}

.blog-image {
    height: 400px;
    background-image: url('../../images/Soen.jpg');
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.blog-content {
    padding: 70px 120px;
    min-height: 400px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    h1 {
        font-size: 300%;
        margin-top: 0;
    }
    .date-category {
        color: $coffee-light;
        text-transform: uppercase;
        margin-top: 5px;
        margin-bottom: 40px;
    }
    p {
        font-size: 125%;
        padding-bottom: 20px;
        line-height: 200%;
    }
    .blog-share {
        color: $coffee-light;
        text-transform: lowercase;
        font-size: 100%;
        padding-bottom: 0;
        line-height: 100%;
    }
    .blog-share-flex {
        display: flex;
        justify-content: center;
    }
    #post-nav {
        display: flex;
        .post-previous,
        .post-next {
            
                .title {
                    display: block;
                    text-transform: uppercase;
                    font-size: 75%;
                }
            
        }
        
        .post-previous {
            margin-right: 20%;
        }
        .post-next {
            text-align: right;
            margin-left: 20%;
        }
        
        h3 {
            margin-top: 5px;
            a {
                color: $coffee;
                text-shadow: none;
                font-size: 70%;
            }
        }
    }
    
    .read-more-link {
        text-align: center;
    }
}

.blog-thumbnail-1 {
    background-image: url('../../images/code_orange_forever.jpg');
    background-size: cover;
    color: $cream;
}

.blog-thumbnail-2 {
    background-image: url('../../images/Oceans_of_Slumber_Winter.jpg');
    background-size: cover;
    color: $cream;
}

.blog-thumbnail-3 {
    background-image: url('../../images/pain_of_salvation_scarsick.jpg');
    background-size: cover;
    color: $cream;
}

.blog-thumbnail-4 {
    background-image: url('../../images/Vinyl_Days.jpg');
    background-size: cover;
    color: $cream;
}

.mc-thumbnail img {
    max-width: 100%;
}

.related-posts {
    h4.date-category {
        font-size: 90%;
    }
    a {
        color: inherit;
    }    
}


.blog-sidebar {
    bottom: 0;
    background: #fff;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    height: inherit !important;
    right: 76%;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, .03), 0 1px 5px rgba(0, 0, 0, .1);
}

.blog-sidebar:after {
    float: right;
    width: 3px;
    height: 100%;
    content: '';
    border-right: 1px solid #fff;
    position: relative;
    left: 3px;
}

.blog-sidebar-content {
    margin-top: 50px;
    position: fixed;
}

.category-list {
    text-transform: uppercase;
    line-height: 300%;
}
/***********************

Youtube Video Ordering

***********************/


/***********************

About Me Contact Card

***********************/

.contact-card {
    border: 1px solid $coffee-light;
    border-radius: 5px;
    margin-top: 88px;
    padding: 22px 0;
    text-align: center;
    ul {
        list-style-type: none;
    }
}


/***********************

Footer

***********************/

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

.footer-coffee {
    color: $cream;
}

.flex-container {
    a {
        color: $coffee;  
    }
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 10px 40px 10px;
    i {
        transition: all 0.2s;
        &:hover {
            transform: scale(1.1, 1.1);
        }
    }
}

.flex-container-coffee {
    a {
        color: $cream;  
    }
    
}

.social-icons {
    position: relative;
}

/***********************

Navigation Bar

***********************/

.nav-justified {
    padding-bottom: 70px;
//    background: -moz-linear-gradient(top, rgba(103, 73, 65, 1) 0%, rgba(103, 73, 65, 0) 100%);
//    /* FF3.6-15 */
//    background: -webkit-linear-gradient(top, rgba(103, 73, 65, 1) 0%, rgba(103, 73, 65, 0) 100%);
//    /* Chrome10-25,Safari5.1-6 */
//    background: linear-gradient(to bottom, rgba(103, 73, 65, 1) 0%, rgba(103, 73, 65, 0) 100%);
//    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    copy li {
        a {
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 0;
            font-weight: bold;
            text-align: center;
            font-size: 110%;
        }
    }
    .active {
        a {
            background-color: rgba(0, 0, 0, 0);
            color: $coffee-light;
        }
    }
}


/***********************

Media Queries

***********************/

@media (min-width: 1200px) {
    .container {
        width: 1190px;
    }
}

@media (min-width: 768px) {
    .nav-justified {
        max-height: 52px;
    }
    .nav-justified > li:first-child > a {
        border-left: 0;
        border-radius: 5px 0 0 5px;
    }
    .nav-justified > li:last-child > a {
        border-right: 0;
        border-radius: 0 5px 5px 0;
    }
    .logo-home {
        margin-top: 25%;
    }
    .search-box {
        width: 200px;
    }
}