/***********************

Variables

***********************/
/***********************

Mixins

***********************/
/***********************

Typography

***********************/
body {
  font: 125% "Open Sans", sans-serif;
  background-color: #fffef7;
  color: #BEA586;
  -webkit-font-smoothing: antialiased; }
  body .nav {
    font-size: 130%; }

h1,
h2,
h3,
nav {
  font-family: "Lobster", cursive;
  text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1em;
  color: #A2825C !important; }
  h1 a,
  h2 a,
  h3 a,
  nav a {
    color: #fffef7;
    letter-spacing: 3px; }

.logo {
  font: 300% "Lobster", cursive;
  text-shadow: 3px 6px 2px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.5em;
  color: #BEA586 !important;
  word-spacing: .25em;
  vertical-align: middle;
  margin-top: 40%; }

/***********************

Backgrounds

***********************/
/***********************

Jumbotron

***********************/
.jumbo-home {
  background-color: #674941;
  color: #fffef7;
  background: url("../../images/40wattsun.jpg") no-repeat;
  background-size: cover;
  height: 800px;
  padding: 0;
  margin: 0; }

.jumbo-overlay {
  display: block;
  background-color: rgba(103, 73, 65, 0.7);
  height: 100%; }

.jumbo-blog {
  text-align: center;
  background-color: black;
  background: url("../../images/Vinyl_Days.jpg") 50% 40% no-repeat;
  height: 300px;
  color: #fffef7;
  margin-bottom: 0;
  background-size: cover;
  border-radius: 5px 5px 0 0 !important; }

/***********************

Radio

***********************/
.feature-section {
  min-height: 500px; }

.sotw-section {
  background-image: url("../../images/Vinyl_Days.jpg");
  background-size: cover; }

.sotw-overlay {
  background-color: rgba(255, 254, 247, 0.75); }

.alt-section {
  background: #000; }

/***********************

Blog Post

***********************/
.blog-post {
  background-color: #fffef7;
  border-radius: 0 0 5px 5px;
  padding: 0 100px 100px 100px;
  font-size: 170%;
  color: #674941; }

/***********************

Youtube Video Ordering

***********************/
.video-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

/***********************

About Me Contact Card

***********************/
.contact-card {
  border: 1px solid #BEA586;
  border-radius: 5px;
  margin-top: 88px;
  padding: 22px 0;
  text-align: center; }
  .contact-card ul {
    list-style-type: none; }

/***********************

Footer

***********************/
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee; }

/***********************

Navigation Bar

***********************/
.nav-justified {
  padding-bottom: 70px; }
  .nav-justified li a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    font-size: 110%; }
  .nav-justified .active a {
    background-color: #A2825C;
    background-image: none;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15); }
    .nav-justified .active a:hover {
      background-color: #A2825C;
      background-image: none;
      box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15); }
    .nav-justified .active a:focus {
      background-color: #A2825C;
      background-image: none;
      box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15); }

/***********************

Media Queries

***********************/
@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px; }

  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px; }

  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0; } }

/*# sourceMappingURL=main.css.map */
